.main{
    display: flex;
    align-items: top;
    justify-content: center;

}
#presentation1{
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url('assets/images/immo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px;
}
#presentation1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-style: italic;
    padding: 25px;
}
#presentation1 img{
    border-radius: 85px;
    max-height: 100%; /* Définir une hauteur maximale de 100% */
    margin-right: 10px; /* Espacement entre l'image et le paragraphe */
    object-fit: contain; /* Optionnel: pour ajuster le contenu de l'image à l'intérieur de la hauteur maximale */
    border: 8px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Ajoutez cette ligne pour l'ombre */
}
.name_random{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-style: normal;
    padding: 15px;
    text-decoration: underline;
}